.rect_bar_female {
  /*fill: #FFAB91;*/
  /*background-image: -linear-gradient(blue, blue);*/
  stroke: white;
  stroke-width: .5px;
}

.rect_bar_male {
  fill: #F4511E;
  stroke: white;
  stroke-width: .5px;
}

.rect_bar_male:hover {
  fill: #FFEA00;
  stroke: #FFEA00;
  stroke-width: 1px;
}

.rect_bar_female:hover {
  fill: #FFEA00;
  stroke: #FFEA00;
  stroke-width: 1px;
}

.myLabel {
  fill: grey;
  font-size: 24pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

.myLabel1 {
  fill: grey;
  font-size: 12pt;
  font-family: Verdana, sans-serif;
  font-style: italic;
}

.myLabel2 {
  fill: grey;
  font-size: 10pt;
  font-family: Verdana, sans-serif;
}

.event_label{
  fill: grey;
  font-size: 8pt;
  font-family: Verdana, sans-serif;
  animation: pulse;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}

.video {
    margin-top: 10em;
}

iframe {
    display: block;
    margin: 0 auto;
}

